.container{
    width: 1200px;
    margin: auto;
    padding: 50px;
  
}

.row{
    display: flex;
    width: 100%;
    border: solid 2px white;
    padding: 10px;
    border-radius: 15px;

}
body{
    background-color: rgb(10, 10, 68);
}
 .text{
        color: cornsilk;
        font-size: 22px;
      width: 50%;
       
    }  
    .row img{
        width: 220%;
          }

        .text h3{
        width: 30%;
        border: solid 2px white;
background-color: rgb(19, 77, 235);
    }
.button1{
    margin-right: 30px;
   background-color:rgb(99, 107, 223);
color: cornsilk;
font-size: 20px;
}
.button2{
   
   color: rgb(177, 183, 241);
   font-size: 20px;
   
}
    
.flex{
    padding-right: 40px;
    padding-top: 40px;
}


   .know{
float: right;
    }
    .row2{
        display: flex;
        width: 100%;
       
    }
    .flex1{
        color: cornsilk;
        border: solid 2px white;
        padding-right: 50px;
        margin-right: 20px;
        border-radius: 15px 100px 30px 5px;
        height: 250px;
        font-weight: 800;
   
       
           }
           .flex1 h2{
               padding-bottom: 30px;
                        }
                        .flex1 p{
                            font-weight: 100;
                            padding-bottom: 40px;

                        }
                        .message img{
                           width: 30px;
                           float: right;
                        }


